body{
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
}
.food-network{
    background-image: url(images/cover1.jpeg);
    background-size: cover;
}
.name-text{
    text-align:center ;
    font-size: 100px;
    padding: 200px;
    margin: 0;
    color: white;
}
 .food-network-bg{
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%; 
} 
.top-nav{
    display: flex;
}
.button{
    float: left;
}
.logo-image{
    width: 80%;
    height: 400px;
}
h1{
    font-size: 60px;
}

.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.half-width p{
    padding: 30px 0;
}
.person-image{
    width: 300px !important;
    height: 500px;
    padding: 20px 20px 0 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

.about-me{
    background-image: url(images/7.png);
    padding: 0 100px ;
    
}
.text-line{
    padding-top: 10%;
}
.recipies{
    text-align: center;
    margin-bottom: 50px;
}
.recipie-title{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.836);
    padding: 10px;
    border-radius: 20px;
}
.recipie-title img{
    width: 100%;
    height: 200px;
   
}
.home-button{
    text-decoration: none;
}
.peragraph-style{
    padding-right: 30% !important;
}

.reating{
    display: flex;
    box-shadow:3px 3px 3px 3px rgba(128, 128, 128, 0.61);
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    border-radius: 10px;
   
}
.reating-sit{
    margin-left: 10%;
}

.footer{
    background-color: black;
    padding: 60px;
    text-align: center;
    color: white;
}

