body{
    font-family: 'Noto Sans TC', sans-serif;
}
h1{
    font-size: 60px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin: 5%;
}
.half-width{
    width: 50%;
}
#text{
    margin-top: 10%;
    margin-right: 5%;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}